### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# INFO: https://git-scm.com/docs/gitignore
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# LICENSE: CC0
# Details: https://github.com/github/gitignore/blob/master/LICENSE
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# https://github.com/github/gitignore/blob/master/Global/Diff.gitignore
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
*.patch
*.diff

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# https://github.com/github/gitignore/blob/master/Node.gitignore
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test
.env.production

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# Custom
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
# Temporary backuped data
.back/
.tpl/

my.variables
my.secrets